<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net46" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net46" />
  <package id="Zenseless.Geometry" version="0.5.88" targetFramework="net46" />
  <package id="Zenseless.HLGL" version="0.5.88" targetFramework="net46" />
  <package id="Zenseless.OpenGL" version="0.5.88" targetFramework="net46" />
  <package id="Zenseless.Patterns" version="0.5.88" targetFramework="net46" />
</packages>